canvas{
  position: absolute;
  z-index: 900;
}

#navbar {
  position: relative;
  z-index: 950;
}

#titleText {
  border: 0;
  text-align: center;
  color: #691d53;
  font-family: 'Faster One';
  src: local('Faster One'), url(https://fonts.googleapis.com/icon?family=Material+Icons) format('com');
  padding-top: 250px;
  font-size: 100px;
}