@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

canvas{
  position: fixed;
  z-index: 900;
}

#navbar {
  position: fixed;
  z-index: 950;
  width: 100%;
}

#titleText {
  border: 0;
  text-align: center;
  color: #691d53;
  z-index: 900;
  font-family: 'Faster One';
  padding-top: 250px;
  font-size: 10vw;
}

#aboutText {
  border: 0;
  text-align: center;
  color: #691d53;
  z-index: 900;
  font-family: 'Faster One';
  padding-top: 100px;
  font-size: 4em;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 910;
}

#foreground {
  width: 90%;
  max-width: 40em;
  padding-top: 200px;
  z-index: 910;
  position: fixed;
}